body { font-family: Arial, sans-serif; text-align: center; padding: 20px; }
input { width: 80%; padding: 10px; margin: 10px 0; }
select { width: 80%; padding: 10px; margin: 10px 0; }
#modelInput { width: 50%; padding: 10px; margin: 10px 0; }
#versionInput { width: 10%; padding: 10px; margin: 10px 0; }
button { padding: 10px 15px; cursor: pointer; }
#packagesInput { width: 40%; padding: 10px; margin: 10px 0; }
#disabled_servicesInput { width: 40%; padding: 10px; margin: 10px 0; }
#scriptsInput { width: 8%; padding: 10px; margin: 10px 0; }

#clearTokenButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #212830;
        color: #ffffff; /* Ensure text is visible */
        color-scheme: dark; /* Apply globally */
    }
    header, .btn {
        background-color: #212830;
        color: #ffffff; /* Consistent text color */
    }
    input, button, select, textarea {
        color-scheme: dark; /* Include all relevant form elements */
    }
}
